@model IEnumerable<Hospital.Models.Appointment>

@{
    ViewData["Title"] = "Appointments";
}

<h1>Appointments</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PatientFullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StaffFullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PatientID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StaffID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppointmentRoom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppointmentDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PatientFullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StaffFullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PatientID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StaffID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppointmentRoom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppointmentDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AppointmentID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AppointmentID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AppointmentID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
